<section id="header">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center p-md-5 pt-sm-5 mb-3">
	      <div class="logo my-0 mr-md-auto">
	      	<img src="../assets/img/logo.png" alt="">
	      </div>
	      <nav class="my-2 my-md-0 ">
	        <a class="p-2" href="#">Home</a>
	        <a class="p-2" href="#">About Us</a>
	        <a class="p-2" href="#">Programs</a>
	        <a class="p-2" href="#">Contact Us</a>
	      </nav>
	    </div>
	</div>

	<div class="container">
		<div class="header-content d-md-flex flex-md-row justify-content-md-between align-items-md-end flex-wrap">
			<div class="banner-text">
				<h1>Where Learning begins</h1>
				<h2>Kidzee Boudha believes, "Every child is unique." Therefore, it provides environment to address the needs of different kinds of learners.</h2>
			</div>
			<div class="header-image">
				<img src="../assets/img/header.png" alt="">
			</div>
		</div>
	</div>
</section>

<router-outlet></router-outlet>
 