<section id="footer" class="d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
				<div class="title">
					<h1>Contact Us</h1>
				</div>
				<div class="location">
					<p>Tusal - 6, Boudha</p>
					<p>Kathmandu, Nepal</p>
				</div>
				<div class="contact">
					<p>info@kidzee.com</p>
					<p>+977-01-4456987</p>
				</div>
				
			</div>
			<div class="col-md-6">
				<form>
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="Name">
					</div>
					<div class="form-group">
						<input type="text" class="form-control input-field" placeholder="E-mail">
					</div>
					<div class="form-group">
						<textarea class="form-control text-field" rows="7" id="comment" placeholder="Message"></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>