<section id="illume">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title">
					<h1>We are committed in creating the future leaders of our country through...</h1>
				</div>
				 <div class="block-content">
				 	<div class="item">
				 		<h2>Iteractive iLLUME</h2>
				 		<p>The pedagogy, Interactive iLLUME, is specifically developed and designed to help children realize their exceptional capabilities in a methodical, synergetic, and self-placed manner. </p>
				 	</div>
				 	<div class="item">
				 		<h2>Kidzee Teachers</h2>
				 		<p>Our training mechanism is designed to arm teachers with practical and effective techniques, which are best suited for kids.</p>
				 	</div>
				 </div>
			</div>
			<div class="col-md-6 d-flex justify-content-center align-items-center">
				<img src="../../assets/img/illume.png" alt="Illume">
			</div>
		</div>
	</div>
</section>