<section id="whykidzee">
	<div class="container">
		<div class="title">
			<h1>Why Kidzee Boudha?</h1>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class=" card d-flex flex-md-row justify-content-between">
					<div class="image-wrapper mr-5">
						<div class="card-image">
							<img class="white" src="../../assets/img/doctor.png" alt="">
							<img class="grey" src="../../assets/img/doctor2.png" alt="">
						</div>
					</div>
					<div class="text">
						<h2>Regular Doctor Checkup</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus voluptas aperiam, quos voluptate quidem earum ex nihil deleniti labore sapiente vitae harum possimus impedit nulla suscipit cumque, accusantium reiciendis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class=" card d-flex flex-md-row justify-content-between">
					<div class="image-wrapper mr-5">
						<div class="card-image">
							<img class="white" src="../../assets/img/diet.png" alt="">
							<img class="grey" src="../../assets/img/diet2.png" alt="">
						</div>
					</div>
					<div class="text">
						<h2>Homely Environment</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus voluptas aperiam, quos voluptate quidem earum ex nihil deleniti labore sapiente vitae harum possimus impedit nulla suscipit cumque, accusantium reiciendis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class=" card d-flex flex-md-row justify-content-between">
					<div class="image-wrapper mr-5">
						<div class="card-image">
							<img class="white" src="../../assets/img/jigsaw.png" alt="">
							<img class="grey" src="../../assets/img/jigsaw2.png" alt="">
						</div>
					</div>
					<div class="text">
						<h2>Educational Equipments</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus voluptas aperiam, quos voluptate quidem earum ex nihil deleniti labore sapiente vitae harum possimus impedit nulla suscipit cumque, accusantium reiciendis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class=" card d-flex flex-md-row justify-content-between">
					<div class="image-wrapper mr-5">
						<div class="card-image">
							<img class="white" src="../../assets/img/bus.png" alt="">
							<img class="grey" src="../../assets/img/bus2.png" alt="">
						</div>
					</div>
					<div class="text">
						<h2>Safe and comfortable transport</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus voluptas aperiam, quos voluptate quidem earum ex nihil deleniti labore sapiente vitae harum possimus impedit nulla suscipit cumque, accusantium reiciendis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card d-flex flex-md-row justify-content-between">
					<div class="image-wrapper mr-5">
						<div class="card-image">
							<img class="white" src="../../assets/img/education.png" alt="">
							<img class="grey" src="../../assets/img/education2.png" alt="">
						</div>
					</div>
					<div class="text">
						<h2>Trained Teachers</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus voluptas aperiam, quos voluptate quidem earum ex nihil deleniti labore sapiente vitae harum possimus impedit nulla suscipit cumque, accusantium reiciendis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card d-flex flex-md-row justify-content-between">
					<div class="image-wrapper mr-5">
						<div class="card-image">
							<img class="white" src="../../assets/img/clock.png" alt="">
							<img class="grey" src="../../assets/img/clock2.png" alt="">
						</div>
					</div>
					<div class="text">
						<h2>Extended hours</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia temporibus voluptas aperiam, quos voluptate quidem earum ex nihil deleniti labore sapiente vitae harum possimus impedit nulla suscipit cumque, accusantium reiciendis.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>