@font-face {
    font-family: primaryFont;
    src: url("/assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
    font-family: secondaryFont;
    src: url("/assets/fonts/Courgette/Courgette-Regular.ttf");
}

@font-face {
    font-family: ternaryFont;
    src: url("/assets/fonts/Dosis/Dosis-Regular.ttf");
}

