@import 'fonts';


//fonts
$primaryFont : primaryFont;
$secondaryFont : secondaryFont;
$ternaryFont : ternaryFont;


//colors
$primaryColor : #ef0303; //red
$secondaryColor : #687878; //bluish
$ternaryColor : #eeeeee; // grey