<section id="programs">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-flex justify-content-center align-items-left flex-column">
				<div class="title">
					<h1>Our <br> Programs</h1>
				</div>
				<div class="childern-image">
					<img src="../../assets/img/kids-playing.png" alt="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="card mt-50">
					<div class="card-image">
						<img class="white" src="../../assets/img/smiling-baby-2.png" alt="">
						<img class="grey" src="../../assets/img/smiling-baby.png" alt="">
					</div>
					<h3>Nuvo</h3>
					<p>1 - 2 Years AGE GROUP</p>
					<p>School Time : 9am - 3pm</p>
				</div>
				<div class="card">
					<div class="card-image">
						<img class="white" src="../../assets/img/boy.png" alt="">
						<img class="grey" src="../../assets/img/boy-2.png" alt="">
					</div>
					<h3>Nursery</h3>
					<p>2.5 - 3.5 Years AGE GROUP</p>
					<p>School Time : 9am - 3pm</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<div class="card-image">
						<img src="../../assets/img/" alt="">
					</div>
					<h3>Play Group</h3>
					<p>1.5 - 2.5 Years AGE GROUP</p>
					<p>School Time : 9am - 3pm</p>
				</div>
				<div class="card">
					<div class="card-image">
						<img class="white" src="../../assets/img/boy-broad-smile.png" alt="">
						<img class="grey" src="../../assets/img/boy-broad-smile-2.png" alt="">
					</div>
					<h3>Kindergarten</h3>
					<p>3.5 - 5.5 Years AGE GROUP</p>
					<p>School Time : 9am - 3pm</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rectangle"></div>
	<div class="rectangle2"></div>
</section>